.mycard{
  width: 22%;
  margin-left: 46rem;
  position: absolute;
  z-index: 9999999999;
}

.dashcard{
  width: 22%;
  margin-left:6rem;
  z-index: 99999999;
  position: absolute;
  margin-top: -23rem;
  margin-left: 4rem;
}

.categorycard{
  width: 22%;
  margin-left: 3rem;
  position: absolute;
  z-index: 9999999999;
}

.devsubcat{
  width: 22%;
  margin-top: -17px;
  position: absolute;
  z-index: 9999999999;
}

.profilecard{
  margin-left: 62.8rem;
  position: absolute;
  z-index: 9999999999;
}
