.mycard{
  width: 22%;
  margin-left: 46rem;
  position: absolute;
}

.categorycard{
  width: 22%;
  margin-left: 3rem;
  position: absolute;
  z-index: 999999;
}

.devsubcat{
  width: 22%;
  margin-top: -17px;
  position: absolute;
  z-index: 999999;
}